@import '../../assets/scss/variables.scss';

.card {
  background-color: $color-white;
  width: 24rem;
  border-radius: 0.6rem;
  margin: 1rem;
  padding: 1.2rem;
  overflow: hidden;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
      0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
      0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }

  h2 {
    margin-top: -0.2rem;
    transition: all ease-in 100ms;
  }

  &__content {
    display: flex;
    flex-direction: column;

    a {
      margin-left: 0.2rem;
      color: $color-blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  button {
    color: $color-grey;
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 0.04rem;
    margin: 1.4rem 0 0 0;
    cursor: pointer;

    &:hover {
      color: $color-black;
    }
  }
}
