@import '../../assets/scss/variables.scss';

.book-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;

  &__content {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    margin: 3rem auto;
    padding: 1.5rem;
    width: 80%;
    min-height: 50rem;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
      0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
      0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    border-radius: 0.3rem;

    .book-info-item {
      margin-bottom: 0.3rem;

      &__label {
        font-weight: bold;
        margin-right: 0.6rem;
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 1.5rem;

    h2 {
      display: block;
      margin: auto;
      text-align: center;
      line-height: 3rem;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: none;
      padding: 0;
      outline: inherit;
      align-self: flex-end;
      color: $color-grey;
      font-weight: 300;
      font-size: 2.5rem;
      cursor: pointer;

      &:hover {
        color: $color-black;
      }
    }
  }

  &__characters-title {
    position: relative;
    margin-bottom: 2rem;

    h3 {
      display: block;
      margin: auto;
      text-align: center;
    }

    input {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
    }
  }

  &__sub-section {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 0.05rem $color-light-grey solid;
    border-radius: 0.3rem;
  }
}
