.books {
  &__title {
    position: relative;
    padding: 2rem;

    h1 {
      display: block;
      margin: auto;
      text-align: center;
    }

    input {
      position: absolute;
      top: 2rem;
      right: 3rem;
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
    }
  }
}
