@import './assets/scss/variables.scss';

.app {
  color: $color-grey;
  font-family: 'Montserrat', sans-serif;

  h1 {
    color: $color-black;
  }

  h2 {
    color: $color-black;
    line-height: 1.4;
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    color: $color-black;
    line-height: 1.4;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
